<!DOCTYPE html>
<html>
<head>
    <title>All Tasks</title>
</head>
<body>
    <h1>Task List</h1>
    <ul>
        <% tasks.forEach(task => { %>
            <li><a href="/task?id=<%= task.id %>"><%= task.title %></a></li>
        <% }); %>
    </ul>
    <a href="/addtask">Add Task</a>
</body>
</html>
